.box{
    position: relative;
    top:55%;
    background-color: #222;
    z-index: 1;
    width: 400px;
    padding:40px;
    border-radius: 4px;
    box-shadow: 0 20px 20px #000;
}


h1{
    font-family:'Courier New', Courier, monospace ;
    font-weight: 900;
    color:#0f0;
    font-size: 50px;
    display: flex;
    justify-content: center;
}


.box-in input{
    background-color: #4d4d4d;    
    width:100%;
    height:7vh;
    border:1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    color:white;
    font-size: larger;

}

span i{
    margin-left: -2.5vw;
    font-size: x-large;
    color:#222;
}

.err{
    color:red;
    margin-top: -20px;
    margin-bottom: 15px;
}

input[type=submit]{
    background-color: #0f0;
    color: #222;
    font-weight: 700;
    width: 100%;
    height:7vh;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 25px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace ;
}
input[type=submit]:hover{
    cursor: pointer;

}

.errBox{
    top:40%;
    left:33.5%;
    position: absolute;
    background-color: aqua;
    width:500px;
    height:200px;
    z-index: 1;
    background-color: #0f0;
    border:2px solid rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
    box-shadow:  7px 7px 20px rgb(0, 255, 0);

    /* visibility: hidden; */
}
 
.errBox p{
    font-size: 40px;
    color:red;
}

.errBox button{
    width:50%;
    border-radius: 5px;
    background-color: #222;
    color:#0f0;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.errBox button:hover{
    color:red;
}